body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

table {
  border-collapse: collapse;
  border: 2px solid #b2bec2;
  text-align: left;
  width: 100%;
}

td,
th {
  border: 2px solid #b2bec2 !important;
  padding: 8px;
}

th {
  background-color: #ccdbe0;
}
